.education{
    margin: 40px 40px;
}
.education .arrow {
    margin: 0 auto;
}
.education article h2{
    text-align: center;
}
.education article ul li{
    list-style: none;
}
.skills-wrapper {
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.light .skills-wrapper img {
    background-color: rgb(250, 246, 244);
    border-radius: 20px;
    border: 2px outset rgba(242, 223, 217, 0.6);
    padding: 10px;;
}
.dark .skills-wrapper img {
    background-color: rgba(250, 246, 244, 0.255);
    border-radius: 20px;
    border: 2px outset rgba(242, 223, 217, 0.6);
    padding: 10px;
}
.skills-icon{
    justify-self: center;
    padding: 15px;
    width: 120px;
    height: 120px;
}
.education article .skills-wrapper, .education article .other-exp-sect{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    width: 80%;
    margin: 40px auto;
}

.education article .other-exp-sect{
    display: flex;
    flex-direction: column;
}

.other-exp-sect div ul {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.other-exp-sect div ul span {
    font-size: 0.8rem;
}
.other-exp-sect div h3 {
    font-size: 1.5rem;
    font-family: var(--font-titles);
}

.light .other-exp-sect ul span{
    color: var(--rose-taupe);
}
.dark .other-exp-sect ul li{
    color: #ed9055;
}
.dark .other-exp-sect ul span{
    color: white;
}
.light .other-exp-sect div ul li{
    color:white;
    font-size: 1.2rem;
}
.light .other-exp-sect div {
    padding: 10px;
    background-color: rgba(126, 91, 95, 0.185);
}
.dark .other-exp-sect div {
    padding: 10px;
    background-color: rgba(129, 103, 106, 0.185);
}
.light .other-exp-sect div h3{
    color: var(--rose-taupe);
}
.dark .other-exp-sect div h3{
    color: var(--orange);
}

.light .education h2 {
    border-bottom: 1px solid var(--cardet);
    text-transform: uppercase;
    color: var(--rose-taupe);
    margin-bottom: 30px;
}
.dark .education h2 {
    border-bottom: 1px solid var(--platinum);
    text-transform: uppercase;
    color: var(--platinum);
    margin-bottom: 30px;
}

@media screen and (max-width: 640px){
    .education {
        padding: 0;
    }
    .education article .skills-wrapper{
        width: 100%;
    }
    .education article .skills-wrapper img{
        width: 80px;
        height: 80px;
    }
}