@import url('variables.css');
/* body {
    background-image: url(/public/images/background.svg);
} */
.flash-animation {
    background-image: url(/public/images/background.svg);
}
.main {
    width: 100%;
}
.App {
        font-family: var(--font-text);
}
.App  *{
    list-style: none;
    text-decoration: none;
}
.mode{
    margin: 10px;

}
.mode button{
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
}
.light aside ul li a{
    color: var(--cardet);
}
.dark aside ul li a{
    color: var(--orange);
}


@media only screen and (max-width: 900px) {
    footer{
        display: none;
    }
}
h1,h2{
    font-family: var(--font-titles);
}

.main {
    /* overflow-y: scroll; */
    scroll-snap-type: y mandatory;
}
  
.slides {
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
@media screen and (max-width: 1060px) {
    .slides {
        height: fit-content!important;
        margin: 70px 0;
    }
}

footer ul {
    margin: 20px auto;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.light footer ul li a svg{
    color: var(--cardet);
}
.dark footer ul li a svg{
    color: var(--orange);
}
