@import url('variables.css');
.main {
    width: 100%;
    /* height: 100vh; */

}
.App {
        font-family: var(--font-text);
}
.App  *{
    list-style: none;
    text-decoration: none;
}
.mode{
    margin: 10px;
    margin-left: 30px;
}
.mode button{
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
}
.light aside ul li a{
    color: var(--cardet);
}
.dark aside ul li a{
    color: var(--orange);
}


@media only screen and (max-width: 900px) {
    footer{
        display: none;
    }
}
h1,h2{
    font-family: var(--font-titles);
}

