@import url('variables.css');

.App {
        font-family: var(--font-text);
}
.App  *{
    list-style: none;
    text-decoration: none;
}
.mode{
    margin: 10px;
    margin-left: 30px;
}
.mode button{
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
}
footer{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
footer div ul{
    margin: 0 30px;
}
footer div ul {
    padding: 0;
    margin: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
    height: 100%;
    font-size: 2rem;
}

.carousel-control-prev {
    height: fit-content;
    justify-content: flex-start;
}

.carousel-control-next {    
    height: fit-content;
    justify-content: flex-end;
}
.main .slide .carousel-indicators{
    justify-content: space-between;
}
@media only screen and (max-width: 900px) {
    aside{
        display: none;
    }
    footer{
        display: none;
    }
    .slide{
        width: 100vw;
        height: 80vh;
    }
}
@media only screen and (max-width: 1400px) {
 
    footer{
        display: none;
    }
    .slide{
        width: 100vw;
        height: 80vh;
    }
   
}
h1,h2{
    font-family: var(--font-titles);
}
body {
    height: 100vh;
}
