.contact-wrapper{
    margin: 80px;
}
.contact h1{    
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding:50px;
    font-size: 2.8rem;
    text-transform: uppercase;
}
.contact-sect {
    /* width: 50%; */
    padding:0 20px;
    margin: auto auto;
}
.contact-sect  h3{
    text-transform:uppercase;
    font-size: 1.5rem;

}
.contact-sect div {
    text-align: justify;
}
.contact-list { 
    padding-left: 0;
    font-size: 1.1rem;    
}
li a{
    text-decoration: none;
}
.carousel-inner, .carousel-item {
    height: 100%;
}
.contact{
    height: 90%;
    display: flex;
    flex-direction: column; 
}
form{
    text-align: center;
}
.light .contact h1 {
    border-bottom: 1px solid white;
}
.light main section div div .welcome-section .welcome-info a, .light main section div .contact-list a, .light main section div .contact-list svg, .light main section div .contact-sect h3 {
    text-decoration: none;
    color: white;
}

.light main section div div div .contact h1{
    border-bottom: 2px solid var(--cardet);
}

.light main section div .contact h1 {
    color: white;
}
.light .wrapper .cv{
    background-color:white;
    padding: 10px;
    color: rgb(143, 61, 67);
    border-radius: 20px;
    border: 2px outset rgba(242, 223, 217, 0.6);
}
.light .wrapper .cv:hover, .light .wrapper .cv:focus, .light .wrapper .cv:active{
    background-color: rgb(143, 61, 67);
    color: white;
} 