.contact-wrapper{
    margin: 80px;
}
.contact h1{    
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding:50px;
    font-size: 3rem;
    text-transform: uppercase;
}
.contact-sect {
    width: 50%;
    padding:0 20px;
    margin: auto auto;
}
.contact-sect div {
    text-align: justify;
}
.contact-list { 
    padding-left: 0;
    font-size: 1.1rem;    
}
li a{
    text-decoration: none;
}
.carousel-inner, .carousel-item {
    height: 100%;
}
.contact{
    height: 90%;
    display: flex;
    flex-direction: column; 
}
form{
    text-align: center;
}