
.contact-sect div h1{    
    margin: 0;
    text-align: center;
    padding:50px;
    font-size: 2.8rem;
    text-transform: uppercase;
}

.contact-sect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.contact-wrapper{
    height: 100%;
    margin: auto 0;
}
.icon-details{
    display: none;
}
.light .icon-details li svg{
    color: var(--cardet);
}
.dark .icon-details li svg{
    color: var(--orange);
}
@media screen and (max-width: 1100px) {
    .contact-sect {
        width: 100%;
    }
}
@media screen and (max-width: 720px) {
    .contact-sect div div h3 {
        font-size: 1rem;
    }
    .contact-sect div div ul li {
        font-size: 0.9rem;
    } 
    .contact-sect div div ul a {
        font-size: 0.9rem;
    } 
    .contact-sect div form h3 {
        font-size: 0.9rem;
    } 
    .contact-sect {
        width: 60%;
        margin: auto auto;
    }  
}

@media screen and (max-width: 490px) {
    .contact-sect {
        width: 100%;
        margin: auto auto;
    }
    .slides .contact-wrapper .contact-sect h1{   
       padding: 0;
       font-size: 1.6rem;
    }
    .contact-sect div {
        width: 100%;
    }  
    .contact-list,.contact-sect div div h3 {
        display:none;
    }
    .icon-details{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0;
        margin: 0;
    }
}

.contact-sect div div h3{
    text-transform:uppercase;
    font-size: 1.5rem;
    background-color: rgba(126, 91, 95, 0.407);
    color: white;
    border: 2px outset var(--cardet);
    border-radius: 15px;
    text-align: center;
    width: 100%;
    padding: 10px;
    margin: 20px 0;

}
.dark .contact-sect div form .cv {
    text-transform:uppercase;
    background-color: #7e5b5f68;
    color: white;
    border: 1px outset var(--cardet);
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    margin: 10px 0;
} 
.contact-sect div {
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact-sect div ul li{
    margin: 10px 0;
}
.contact-list { 
    padding-left: 0;
    font-size: 1.1rem;    
}
.contact-list li svg {
    cursor: pointer;
}
li a{
    text-decoration: none;
}
.light .contact-list li svg path{
    color: #c9b3b5;

}
.light .contact-list a svg path{
    color: #c9b3b5;

}
.light .contact-list li svg path:hover{
    color: #7e5b5f68;
}
.dark .contact-list li svg path{
    color: #e3a680;

}
.dark .contact-list a svg path{
    color: #e3a680;

}
.dark .contact-list li svg path:hover{
    color: var(--orange);
}
.contact{
    display: flex;
    flex-direction: column; 
}
form{
    text-align: center;
}
.light .contact-sect div h1 {
    border-bottom: 1px solid var(--cardet);
}
.light .main .contact-sect h3 {
    text-decoration: none;
    color: white;
}

.light .main section div .contact-sect div ul li a, .light .main section div .contact-sect div ul li svg,  .light .main section div .contact-list a{
    color: var(--cardet);
    letter-spacing: 1px;
}

.light .contact-sect div h1 , .light .main .contact-list svg{
    color: var(--cardet);
}
.light .main .contact-sect div form .cv {
    background-color:var(--rose-taupe);
    padding: 10px;
    border-radius: 20px;
    color: white;
    border: 2px outset rgba(242, 223, 217, 0.6);
}
.dark .main .contact-sect div form{
    background-color: var(--orange);
    padding: 10px;
    border-radius: 20px;
    border: 2px outset rgba(239, 21, 105, 0.6);
    color: white;
}
.light .main .contact-sect div form{
    background-color: var(--cardet);
    padding: 10px;
    border-radius: 20px;
    border: 2px outset #e1aec199;
    color: white;
}

.light .main .cv a {
    color: white;
}
.light .main .cv:hover, .light .main .cv:focus, .light .main .cv:active{
    background-color:var(--tea-rose-red);
} 

.light .main .cv a:hover, .light .main .cv a:focus, .light .main .cv a:active{
    color:var(--cardet);
} 


.light .contact-sect div ul span{
    color: var(--rose-taupe);
}


.dark .contact-sect div h1{
    border-bottom: 2px solid var(--orange);
    color: white;
}
.dark .contact .cv:active, .dark .contact .cv:focus, .dark .contact .cv:hover{
    background-color:var(--fucsia);
    color: white;
}
@media screen and (max-width: 900px) {
    .contact-wrapper {
        margin-bottom: 50px;
    }
}
.light .main .contact-sect div form {
    box-shadow: 4px 4px 10px -3px rgba(0,0,0,0.75) 
}
