.wrapper header .navbar {
    justify-content: flex-end;
    width: 100%;
    padding: 0;
}

.navbar span a{
    margin: 0 20px;
}
.navbar-collapse{
    justify-content: flex-end;
    width: 100%;
    margin: 0 20px;
    align-items: center;
}
.navbar-collapse .navbar-nav {
    align-items: center;
    gap: 20px;
    width: 60%;
    justify-content: space-evenly
}

.navbar-nav  a ,.cv  , .navbar span a{
    font-size: 0.8rem;
    font-family: var(--font-titles);
    text-transform: uppercase;
   
    padding: 10px;
}


.light .wrapper .navbar-nav a, .light .wrapper .navbar-nav a, .light .wrapper .navbar-nav a {
    color: white
}
.light .wrapper .navbar-nav a:hover, .light .wrapper .navbar-nav a:focus, .light .wrapper .navbar-nav a:active{
    background-color: rgb(143, 61, 67);
    color: white;
    border-radius: 10px;
    border: 1px outset rgba(242, 223, 217, 0.6); 
} 
.dark .wrapper .navbar-nav a, .dark .wrapper .navbar-nav a, .dark .wrapper .navbar-nav a {
    color:var(--fucsia)
}
.dark .wrapper .navbar-nav a:hover, .dark .wrapper .navbar-nav a:focus, .dark .wrapper .navbar-nav a:active{
    background-color: var(--orange);
    color: white;
    border-radius: 10px;
    border: 1px outset rgba(242, 223, 217, 0.6); 
} 

.dark main .mode {
    background-color:#64577d;
    border: 2px inset #F2DFD9ff;
}
.dark main .mode:active{
    background-color: var(--platinum);
}
.dark main .mode:hover{
    background-color: var(--orange);
}
