.projects{
    margin: 20px 50px;
    padding: 60px;
    height: 90%;
}

.project-card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 30px;
    gap: 30px;
    margin-top: 70px;
}

.project-card .screen img {
    width: 100%;
}

.skills-used{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;
    flex-wrap: wrap;
}
.skills-used img {
    width: 70px;
    height: 70px;
    margin:0 5px;
}
.carousel-inner, .carousel-item {
    height: 100%;
}

.info-project{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
}

.nav-tabs {
    justify-content: space-between;
}

.nav-tabs li button  {
    text-transform: uppercase;
    font-family: var(--font-titles);
    font-size: 1.2rem;
}
.project-card div h3 {
    font-family: var(--font-titles);
    font-size: 2rem;
    text-transform: uppercase;
}
.tictactoe{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
}
