.welcome-section{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
      "welcome-info none none"
  ;
  gap: 50px;
  height: 100%;
}
.slides{
  height: 100%
}

.welcome-info{
  grid-area: welcome-info;
  padding: 30px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.welcome-info h4{
    font-size: 1.3rem;
    font-weight: 400;

}
.welcome-info h1{
    font-size: 5rem;
    font-weight: 700;
}
.welcome-info div {
  margin: 20px 0;
}
.welcome-info div a{
  text-decoration: none;
}
.welcome-info div{
  padding: 30px;

}