.welcome-section{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
      "welcome-info none"
  ;
  gap: 50px;
  height: 100%;
}

.welcome-info{
  grid-area: welcome-info;
}
@media screen and (max-width: 1200px) and (min-width: 781px){
  .welcome-section{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  }
}
@media screen and (max-width: 780px) and (min-width: 461px){
  .welcome-section, .welcome-info div{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  }
  .welcome-info {
    width: 100%;
    height: 100%;
  }
  .welcome-info div h1{
    font-size: 3rem;
    
}
  .welcome-info div h4{
    font-size: 0.8rem;
    
}
  .welcome-info div h3{
    font-size: 1rem;
    
}
.welcome-info div button a{
  font-size: 0.5rem;
}
}

@media screen and (max-width: 460px) {
  .welcome-info div{
  padding: 0;
  }
  .welcome-info {
    width: 100%;
    height: 100%;
  }
  .welcome-info div h1{
    font-size: 2rem;
    width: 100%;
    height: 100%;
  }
  .welcome-info div h4{
    font-size: 0.6rem;
    
  }
  .welcome-info div h3{
    font-size: 0.8rem;
    
  }
  .welcome-info div button a{
  font-size: 0.4rem;
  }
  .wrapper .welcome-info div .cv {padding: 3px;}

}


.welcome-info h4{
    font-size: 1.3rem;
    font-weight: 400;
}

.welcome-info h1{
    font-size: 5rem;
    font-weight: 700;
}
.welcome-info div {
  margin: 20px 0;
}
.welcome-info div a{
  text-decoration: none;
  
}
.light .welcome-info div a{
  color: var(--cardet);
  
}
.light .welcome-info div a:hover{
  color: white;
  
}
.welcome-info div{
  padding: 40px;

}

.light .welcome-info h1 {
 color:var(--cardet);
}
.light .welcome-info h4 {
  color: hsl(353, 17%, 50%);
}
.light .welcome-info h3 {
  color: hsl(353, 17%, 50%);
}
.cv {
  width: fit-content;
}
.dark .welcome-info h1 {
 color:var(--orange);
}
.dark .welcome-info h4 {
  color: #f66e1a6e;
}
.dark .welcome-info h3 {
  color:var(--platinum); 
}
.light .welcome-info .cv {
  background-color: var(--rose-taupe);
  padding: 10px;
  border-radius: 20px;
  border: 2px outset rgba(242, 223, 217, 0.6);
} 