.welcome-section{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
      "welcome-info none none"
  ;
  gap: 50px;
}

.welcome-info{
  grid-area: welcome-info;
}

.welcome-info h4{
    font-size: 1.3rem;
    font-weight: 400;
}

.welcome-info h1{
    font-size: 5rem;
    font-weight: 700;
}
.welcome-info div {
  margin: 20px 0;
}
.welcome-info div a{
  text-decoration: none;
}
.welcome-info div{
  padding: 40px;

}